.menu{
    background-color: #3b3d42 !important;
    z-index: 13;
}
.navText{
    font-size: 1rem;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.justFay{
    justify-content: center;
    align-items: center;
}
@media (max-width: 600px){
    .navText{
        font-size: 1rem;
    }
}
.itemMenu:hover{
    color: #f7992b !important;
}
