.BtnSubmit{
    width: 130%;
    height: 3rem;
    margin-left: 1rem;
    border-radius: 20px;
    font-size: 12px;
    text-align: center;
}
.TitelCTA{
    margin-top: 1rem;
}
.Line{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.imgBlog{
    width: 100%;
}