.BtnSubmit{
    width: 120%;
    height: 3.5rem;
    margin-left: 1rem;
    border-radius: 20px;
    font-size: 12px;
    text-align: center;
    margin-top: 2rem;
}
.TitelCTA{
    margin-top: 1rem;
}
.Line{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.imgBlog{
    width: 50%;
    margin-top: 3rem;
    border: 3px solid #f7992b;
    border-radius: 20px;
    padding:3rem;
}
.SingleBlog{
    width: 70%;
    margin-top: 3rem;
    border: 3px solid #f7992b;
    border-radius: 20px;
    padding:3rem;
}
.mtBlog{
    margin-top: 3rem;

}
